.mainContainer {
    display:flex;
    flex-direction: column;
    .gridContainer {
        display:grid;
        grid-template-columns:1000px 800px;
        grid-template-rows: 100px 900px;
        background-image: url("assests/hero.jpg");
        .item1 {
            justify-self: center;
        }
        .item2 {
            display: flex;
            justify-content: space-around;
        }
        .item3 {
            justify-self : center;
        }
        .item4 {
            justify-self : stretch;
            justify-self: center;
            img {
                max-width: 500px;
                max-height: 700px;
            }
        }
    }
}